/* Scrollbar */
::-webkit-scrollbar{width:10px;}
::-webkit-scrollbar-track{background:#000;}
::-webkit-scrollbar-thumb{background:#303030;}
::-webkit-scrollbar-thumb:hover{background:#404040;}
/* General */
html{scroll-behavior:smooth;}
p{
	color:white;
	width:95%;
	text-align:left;
	margin:auto;
	padding:4px;
}
h3,h4{color:white;}
*{box-sizing:border-box}
body{
	font-family:Verdana,sans-serif;
	background-color:black;
	background-image:url('../images/DarkBackground.jpg');
	background-attachment:fixed;
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center;
}
code{color:white;white-space:pre-wrap;}
.codeexample code{white-space:pre;}
.codeTitle{
	margin:0;
	background-color:#404040;
	width:100%;
	padding:8px;
	cursor:pointer;
}
.codeTitle:hover{color:#aaa;background-color:#202020;}
#postHeader{
	padding:10;
	margin:0;
	cursor:pointer;
	color:white;
}
#postHeader:hover{color:#aaa;}
.codeexample{
	text-align:left;
	width:70%;
	background-color:#202020;
	margin:auto;
	padding:10px;
	overflow-x:scroll;
}
.textcodeexample{
	text-align: left;
	width: 70%;
	background-color: #202020;
	margin:auto;
	padding:1px;
}
.comment,em{color:#5da363;}
.function{color:#d1a862;}
.number{color:#d16262;}
/* Math Division */
.frac{
    display:inline-block;
    position:relative;
    vertical-align:middle;
    letter-spacing:0.001em;
    text-align:center;
}
.frac > span{display: block;padding:0.1em;}
.frac span.bottom{border-top:thin solid white;}
.frac span.symbol{display:none;}
/* Math Division */
.resources{padding:0px;margin:0px;}
ul{margin:0;padding:15px;}
.head{
	padding:10px;
	text-align:center;
	font-size:45px;
	color:white;
	background-color:#303030;
}
.project-head{
	padding:20px;
	text-align:center;
	font-size:35px;
	color:white;
	background-color:#303030;
	cursor:pointer;
}
.project-head:hover{color:#aaa;background-color:#202020;}
.square-image{width:40%;}
.interactive-replacement{display:none;}
#navbar{
	background-color:#303030;
	padding:15px;
	position:fixed;
	left:0;
	top:0;
	width:100%;
	border-bottom:5px solid black;
}
/* Side Slide Navbar */
#side-bar,.bar-link,#bar-close{
	color:white;
	padding:20px;
	width:100%;
	background-color:#303030;
}
#bar-close{width:auto;float:right;}
#bar-close:hover{background-color:#202020;}
#side-bar{
	position:fixed;
	left:0;
	top:0;
	margin:auto;
	padding:10px;
	width:20%;
	height:100%;
	border-right: 5px solid black;
	/*min-width:250px;*/
}
.bar-link, bar-list li{font-weight:bold;width:100%;}
.bar-link:hover{background-color:#202020;}
.bar-link{display:block;width:100%;white-space:pre;}
.bar-link:visited{color:white;}
#bar-toggle{
	width:5%;
	position:fixed;
	top:10px;
	cursor:pointer;
	min-width: 60px;
}
#bar-toggle:hover{width:4.8%;}
/* Side Slide Navbar */
#Posts{width:90%;text-align:center;margin:auto;}
ol{list-style-position:inside;}
iframe{width:100%;height:300px;border:2px solid black;}
/* download buttons */
.download-button{
	color:white;
	background-color:#303030;
	padding:20px;
	display:inline-block;
	width:100%;
	text-align:center;
	font-weight:bold;
	font-size:25px;
}
.download-button:hover{color:#bbb;background-color:#202020;}
/* navbuttons */
.navbutton{padding:15px;text-decoration:none;font-size:1.5vw;}
.navbutton:link{color:white;background-color:#303030;}
.navbutton:visited{color:white;background-color:#303030;}
.navbutton:hover{color:#bbb;background-color:#202020;}
.navbutton:active{color:white;background-color:#303030;}
/* links */
a:link{color:#ddd;}
a:visited{color:#aaa;}
a:hover{color:#777;}
a:active{color:white;}
a{text-decoration:none;}
/* all navbuttons have */
.navbutton{padding:15px;text-decoration:none;font-weight:bold;}
#toplogo{
	height:70%;
	padding:0px;
	position:absolute;
	top:18%;
	right:40px;
}
#bodydiv{
	/*background-color: #aaa;*/
	position:absolute;
	top:110px;
	left:0px;
	width:100%;
}
@media (max-width:1000px){/* 600px */
    nav,article,div{width:100%;height:auto;float:none;}
	.quote{font-size:4vw;width:70%;left:15%;}
}