@media (max-width: 600px) {
    nav, article {
        width:  100%;
        height: auto;
    }
}

p {
	color: white
}

body {
	font-family: Arial, Helvetica, sans-serif
}

.head {
	padding:              5px;
	text-align:        center;
	font-size:           35px;
	color:              white
}

#mainbody {
	background-color: #303030;
	width:                80%;
	position:        absolute;
	left: 10%;
}