:root {
    --theme-color: #F26A1B;

    /* Old Colors */
    --bg-color:      #0A0B0D;
	--color-dark-1:  #131418;
	--color-dark-2:  #1D1E22;
	--color-light-1: #2C303B;
	--color-green:   #5BA68A;
	--color-blue:    #698997;
	--color-yellow:  #BFB47A;
	--color-red:     #8C3503;
	--color-orange:  #F26A1B;
	--color-text:    #ffffff;
	--color-text-2:  #a5a5a5;
}
::-webkit-scrollbar{width:10px}
::-webkit-scrollbar-track{background:#000}
::-webkit-scrollbar-thumb{background:#333}
::-webkit-scrollbar-thumb:hover{background:#444}

*{
    color: white;
    font-family: sans-serif;
}
body{
    /*background-image: url(../../images/DarkBackground.jpg);*/
    background-size: 100%;
    background-color: #080808;
    background-position: top;
    margin: 0;
    overflow-x: hidden;
}
#main-content{
    padding-top: 25px;
    width: 100%;
    background-color: #101010;
}
#page-banner{
    width: 100%;
    background-position: center;
    background-size: cover;
}
h1 {
    padding: 20px;
    background-color: #303030;
    margin: 0;
    margin-right: 30%;
    font-size: 2.5em;
}
p {
    padding: 10px;
    line-height: 170%;
    margin: 0;
    font-size: 1.5em;
}
p em {color:#3398c4}
article {padding: 30px 80px}
code, code span {
    white-space: pre;
    font-family: Monaco, monospace;
    font-size: 1em;
    color:#ccc;
    background-color: #080808;
    display: block;
    padding: 30px;
    overflow-x: auto;
    tab-size: 5;
}
code span{display: inline;padding: 0;}
p code {
    display: inline;
    padding: 5px;
    font-size: 0.8em;
}

.-keyword   {color:#3398c4}
.-comment   {color:#2a8a67}
.-builtin   {color:#e68f5d}
.-function  {color:#ddce83}
.-digit, 
.-string    {color:#d65b5b}

.no-bottom{padding-bottom: 0;margin-bottom: 0;}

ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
}
li {padding: 3px}
table {width: 100%}
a{
    text-decoration: none;
    color: var(--theme-color);
    font-size: 1.5em;
}
a:hover {
    filter: brightness(70%);
    text-decoration: underline;
}
article img{
    width: 100%;
    margin: 30px auto;
    display: block;
}
.smaller {width: 50%;}

.download-button{
    width: 100%;
    display: block;
    padding: 20px;
    color: black;
    font-weight: bold;
    background-color: red;
    text-align: center;
    font-size: 3em;
}
.download-button:hover{text-decoration: none;}