#big-logo {
    border-radius: 100%;
    height: 30vh;
}

#page-top-content .title-box {
    margin: 0;
}

#page-top-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#demolist {
    background-color: var(--theme-bg-light);
}

.screen-size {
    padding: 6rem;
    width: calc(100vw - 2 * 6rem - 1);
    height: calc(100vh - 2 * 6rem);
}
