:root {
    --g0: #101010;
    --g1: #181818;
    --g2: #282828;
    --g3: #383838;
}

* {
    font-size: 30px;font-family: sans-serif;
    color: white;
    text-decoration: none;
}

::-webkit-scrollbar {width: 8px}
::-webkit-scrollbar-track {background: var(--g0)}
::-webkit-scrollbar-thumb {background: #2a2a2a}
::-webkit-scrollbar-thumb:hover {background: #3a3a3a}

.anime {background-color: var(--g1);}
.anime .video:hover {background-color: var(--g0);}

body{background-color:var(--g0);margin:0;margin-bottom:580px}
.video{
    padding:1px 30px;
    /* Make Unselectable */
    -webkit-touch-callout: none; 
      -webkit-user-select: none; 
       -khtml-user-select: none; 
         -moz-user-select: none; 
          -ms-user-select: none; 
              user-select: none;
}
.video:hover{background-color:#181818}
table{margin:1px}
img{
    width:160px;padding-right:60px;
    height:86px;
    object-fit: cover;
}
h1:hover{background-color:var(--g2)}
h2:hover{background-color:var(--g3)}
h1, h2{
    padding: 15px;margin: 0;
    background-color: var(--g1)
}
h2{font-size: 40px;background-color: var(--g2);}
p{padding:0;margin:0}

/*.foldercontent{display: none;}*/

iframe {
    position: fixed;
    bottom: 0px;
    right: 0px;
}

#playlistlength,#keepplaying{
    float:right;
    padding:20px;

}
#keepplaying{
    float:none;
    background-color: rgba(0,0,0,0);
    border:none;
    outline: none;
}
#keepplaying:hover{background-color:#181818}