.page-card {
    width: 46%;
    aspect-ratio: 1.6;
    border-radius: 2rem;

    background-position: center;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.page-card-title {
    padding: 2rem;
    font-size: 2rem;
}
