*{
    color: white;
    font-family: sans-serif;

    /* Unselectable */
    -webkit-touch-callout: none;
      -webkit-user-select: none; 
       -khtml-user-select: none;
         -moz-user-select: none; 
          -ms-user-select: none; 
              user-select: none;
}

::-webkit-scrollbar {width: 8px}
::-webkit-scrollbar-track {background: var(--g0)}
::-webkit-scrollbar-thumb {background: #2a2a2a}
::-webkit-scrollbar-thumb:hover {background: #3a3a3a}

body{
    background-color: black;
    margin: 0%;
    margin-bottom: 50vh;
}

table{
    border-collapse: collapse;
    position: relative;
    bottom: 0;
    left: 0;
}
#progress{
    width: 30vw;
    height:100%;
    background-color: #00000088;
    position: absolute;
    bottom: 0;
    left: 0;
}
.audio-controls {
    width: 82%;
    position: fixed;
    bottom: 0;
    right: 0;

    font-size: 1.3vw;
    background-color: #151515;
}
#playing-image {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 18vw;
}
.audio-controls h1 {
    padding-left: 2vw;
    width: 100%;
    position: relative;
    z-index: 10;
}

.section-title{
    margin: 2vw;
    font-size: 4vw;
}
.group-title {
    padding: 1vw;
    margin: 0;
    font-size: 2.5vw;
    border-top: 3px solid black;
    background-color: #3a3a3a;
}
.song-cover {
    display: block;
    height: 8vh;
    padding:6px
}
.song {
    display: flex;
    flex-direction: row;
    width: 33.33%;
    background-color: #202020;
}
.song:hover {
    background-color: #151515;
}

.song h1 {
    font-size: 1.9vw;
    font-weight:500;
    margin:auto 2vw;
}

.group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

#video {
    position:fixed;
    top: 0;
    right: 0;
    width: 35%;
}