body {
    margin: 0;
}

#bigrow {
    display: flex;
    flex-direction: row;
    margin: 0;
}

#content {
    width: 20%;
    height: 100%;
    min-width: 330px;
    border-left: 1px solid var(--theme-gray-3);
    flex: none;

    position: absolute;
    right: 0;
}

#date, h1 {
    text-align: center;
}

button {
    display: block;
    margin: auto;
}

.row {
    display: flex;
}

.row p {
    margin: auto;
}

.sep {
    margin-top: 1em;
}

canvas {
    position: fixed;
}
